The following is a datasheet containing the vehicle performace of a vehicle. The data is given out by an IoT placed in a vehicle. The data is in the form of hexcodes. 
https://bit.ly/3go6Dth

Below is a Pre-Processing code that processes the data to understand and work further on the data.

The output from the code: https://bit.ly/352hqnO

### **Data Processing.**

Importing Libraries.

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
dataset = pd.read_csv('T_000356.CSV', 
                         names=['Time','Latitude','Longitude','Altitude','RPM' ,
                        'Driver Demand Torque (%)','Engine Load (%)','Engine Torque Mode','TPS (%)','Percent Load Curret Speed','Fuel Rate (L-Hr)',
                        'Vehicle Speed ','Inj Q Cur (mg-st)','Inj Q Tor (mg-st)','Boost Pressure (mBar)','Atmospheric Pressure (mBar)','Coolant Temperature (*C)',
                        'Oil Temperature (*C)','Boost Temperature (*C)','Oil Pressure (mBar)','Battery Voltage (V)','Cam Speed (rpm)',
                        'Rail Pressure (mBar)','Rail Pressure set (mBar)','MU PWM (%)','MU Vol (mm3-s)','Torque Rat','Torque (Nm)','TQ Limit Set','Main Injection (mg-st)',
                        'Pilot Injection (mg-st)','Pos 2 Injector (mg-st)',
                        'EGR Prop (%)','EGR Pos D (%)','EGR Pos A (%)','Clutch Switch','Brake Switch','Engine Grad (rpm)','param1','param2','0'])

In [ ]:
dataset = dataset.fillna(0)

Getting where the engine stops or when the file overflows.

In [ ]:
for i in range(0,len(dataset)):
  if dataset['Latitude'][i] == 'ENG STOPPED':
    mi = i
  elif dataset['Latitude'][i] == 'FILE OVERFLOW':
    mi = i

Collecting date and droping useless data.

In [ ]:
date_from_sheet = dataset.iloc[-9][0]
dataset.drop(dataset.tail(len(dataset)-mi).index,inplace = True)
dataset = dataset.drop(dataset.columns[-1],axis=1)

In [ ]:
dataset

        Time   Latitude   Longitude  ... Engine Grad (rpm)    param1    param2
0     235945          0           0  ...              001b  000000ff  07ffffff
1     235946          0           0  ...              0000  000000ff  07ffffff
2     235947          0           0  ...              0000  000000ff  07ffffff
3     235948          0           0  ...              0000  000001ff  07ffffff
4     235949          0           0  ...              ffe5  000000ff  07ffffff
...      ...        ...         ...  ...               ...       ...       ...
4757  174750  1835.8932  07343.6899  ...              003c  000000ff  07ffffff
4758  174751  1835.8919  07343.6881  ...              003c  000000ff  07ffffff
4759  174752  1835.8910  07343.6867  ...              001d  000000ff  07ffffff
4760  174753  1835.8902  07343.6854  ...              0166  000001ff  07ffffff
4761  174754  1835.8894  07343.6839  ...              01bc  000000ff  07ffffff

[4762 rows x 40 columns]

Date and Time

Date extraction

In [ ]:
date_from_sheet = date_from_sheet.split()
date_raw = []
date_raw.append(date_from_sheet[2])

for number in date_raw:
    str_number = str(number)
    date = ('{}/{}/20{}'. format(str_number[:2], str_number[2:4], str_number[4:]))

print('Date:',date)

Date: 04/05/2021

Time

In [ ]:
raw_time_converted = []
for a in dataset['Time']:

  h = int(a[0:2])
  m = int(a[2:4])
  s = str(a[4:6])

  h = h+5
  m = m+30

  if m == 60:
    h = h+1
    m = str(00)

  elif m > 60:
    m = m - 60
    h = h + 1

  raw_time_converted.append((str(h).zfill(2))+(str(m).zfill(2))+(str(s).zfill(2)))

In [ ]:
raw_time_new = []

for each_time in raw_time_converted:
    str_time = str(each_time)
    time = ('{}:{}:{}'. format(str_time[:2], str_time[2:4], str_time[4:]))
    raw_time_new.append(time)

Combining date time column

In [ ]:
date_time_list = []

for time_new in raw_time_new:
  date_time_list.append(date+' '+time_new)

In [ ]:
dataset.drop('Time',axis=1)
dataset['Time'] = (date_time_list)

In [ ]:
dataset.head()

                  Time Latitude Longitude  ... Engine Grad (rpm)    param1    param2
0  04/05/2021 29:29:45        0         0  ...              001b  000000ff  07ffffff
1  04/05/2021 29:29:46        0         0  ...              0000  000000ff  07ffffff
2  04/05/2021 29:29:47        0         0  ...              0000  000000ff  07ffffff
3  04/05/2021 29:29:48        0         0  ...              0000  000001ff  07ffffff
4  04/05/2021 29:29:49        0         0  ...              ffe5  000000ff  07ffffff

[5 rows x 40 columns]

Latitude

In [ ]:
def dm(x):
    degrees = int(x) // 100
    minutes = x - 100*degrees

    return degrees, minutes

def decimal_degrees(degrees, minutes):
    return degrees + minutes/60 

lat_list = []
for i in dataset['Latitude']:
  if i != 0:
    lat_list.append(decimal_degrees(*dm(float(i))))
  elif i == 0:
    lat_list.append(0)

long_list = []
for i in dataset['Longitude']:
  if i != 0:
    long_list.append(decimal_degrees(*dm(float(i))))
  elif i == 0:
    long_list.append(0)

In [ ]:
dataset.drop('Latitude',axis=1)
dataset['Latitude'] = (lat_list)

dataset.drop('Longitude',axis=1)
dataset['Longitude'] = (long_list)

In [ ]:
dataset.iloc[50:55]

                   Time   Latitude  ...    param1    param2
50  04/05/2021 21:59:24  18.900668  ...  000001ff  07ffffff
51  04/05/2021 21:59:25  18.900592  ...  000000ff  07ffffff
52  04/05/2021 21:59:25  18.900592  ...  0000007f  07ffffff
53  04/05/2021 21:59:27  18.900415  ...  000000ff  07ffffff
54  04/05/2021 21:59:28  18.900920  ...  000000ff  07ffffff

[5 rows x 40 columns]

Dealing with RPM Column

In [ ]:
rpm_list = []

for i in dataset['RPM']:
  if i != 0:
    old_list = []
    for j in i:
      old_list.append(j)
    rearrange = ' '+ old_list[2] + old_list[3] + old_list[0] + old_list[1]
    rpm_list.append((int(rearrange,16)*0.125))
  elif i == 0:
    rpm_list.append(0)

In [ ]:
dataset.drop('RPM',axis=1)
dataset['RPM'] = (rpm_list)

In [ ]:
dataset.iloc[50:55]

                   Time   Latitude  ...    param1    param2
50  04/05/2021 21:59:24  18.900668  ...  000001ff  07ffffff
51  04/05/2021 21:59:25  18.900592  ...  000000ff  07ffffff
52  04/05/2021 21:59:25  18.900592  ...  0000007f  07ffffff
53  04/05/2021 21:59:27  18.900415  ...  000000ff  07ffffff
54  04/05/2021 21:59:28  18.900920  ...  000000ff  07ffffff

[5 rows x 40 columns]

Dealing with Driver Demand Torque

In [ ]:
ddt = []
for i in dataset['Driver Demand Torque (%)']:
  if i != 0:
    ddt.append((int(i,16))+(-125))
  else:
    ddt.append(0)

In [ ]:
dataset.drop('Driver Demand Torque (%)',axis=1)
dataset['Driver Demand Torque (%)'] = (ddt)

In [ ]:
dataset.iloc[50:55]

                   Time   Latitude  ...    param1    param2
50  04/05/2021 21:59:24  18.900668  ...  000001ff  07ffffff
51  04/05/2021 21:59:25  18.900592  ...  000000ff  07ffffff
52  04/05/2021 21:59:25  18.900592  ...  0000007f  07ffffff
53  04/05/2021 21:59:27  18.900415  ...  000000ff  07ffffff
54  04/05/2021 21:59:28  18.900920  ...  000000ff  07ffffff

[5 rows x 40 columns]

Dealing with Engine Load

In [ ]:
engine_load = []

for i in dataset['Engine Load (%)']:
    if i != 0:
      engine_load.append((int(i,16))+(-125))
    else:
      engine_load.append(0)

In [ ]:
dataset.drop('Engine Load (%)',axis=1)
dataset['Engine Load (%)'] = (engine_load)

In [ ]:
dataset.iloc[50:55]

                   Time   Latitude  ...    param1    param2
50  04/05/2021 21:59:24  18.900668  ...  000001ff  07ffffff
51  04/05/2021 21:59:25  18.900592  ...  000000ff  07ffffff
52  04/05/2021 21:59:25  18.900592  ...  0000007f  07ffffff
53  04/05/2021 21:59:27  18.900415  ...  000000ff  07ffffff
54  04/05/2021 21:59:28  18.900920  ...  000000ff  07ffffff

[5 rows x 40 columns]

Dealing with Engine Torque Mode

In [ ]:
ETMode = []

for i in dataset['Engine Torque Mode']:
  if i != 0:
    ETMode.append(int(i,16)-125)
  else:
    ETMode.append(0)

In [ ]:
dataset.drop('Engine Torque Mode',axis=1)
dataset['Engine Torque Mode'] = (ETMode)

In [ ]:
dataset.iloc[50:55]

                   Time   Latitude  ...    param1    param2
50  04/05/2021 21:59:24  18.900668  ...  000001ff  07ffffff
51  04/05/2021 21:59:25  18.900592  ...  000000ff  07ffffff
52  04/05/2021 21:59:25  18.900592  ...  0000007f  07ffffff
53  04/05/2021 21:59:27  18.900415  ...  000000ff  07ffffff
54  04/05/2021 21:59:28  18.900920  ...  000000ff  07ffffff

[5 rows x 40 columns]

Dealing with TPS(%)

In [ ]:
TPS = []

for i in dataset['TPS (%)']:
  if i != 0:
    TPS.append((int(i,16))*0.4)
  else:
    TPS.append(0)

In [ ]:
dataset.drop('TPS (%)',axis=1)
dataset['TPS (%)'] = (TPS)

In [ ]:
dataset.iloc[1000:1005]

                     Time   Latitude  ...    param1    param2
1000  04/05/2021 22:15:13  18.806947  ...  000001ff  07ffffff
1001  04/05/2021 22:15:14  18.806827  ...  000000ff  07ffffff
1002  04/05/2021 22:15:15  18.806705  ...  000000ff  07ffffff
1003  04/05/2021 22:15:16  18.806585  ...  000000ff  07ffffff
1004  04/05/2021 22:15:17  18.806465  ...  000000ff  07ffffff

[5 rows x 40 columns]

Percenrage load current speed

In [ ]:
LCS = []

for i in dataset['Percent Load Curret Speed']:
  if i != 0:
    LCS.append((int(i,16))*1)
  else:
    LCS.append(0)

In [ ]:
dataset.drop('Percent Load Curret Speed',axis=1)
dataset['Percent Load Curret Speed'] = (LCS)

In [ ]:
dataset.iloc[50:55]

                   Time   Latitude  ...    param1    param2
50  04/05/2021 21:59:24  18.900668  ...  000001ff  07ffffff
51  04/05/2021 21:59:25  18.900592  ...  000000ff  07ffffff
52  04/05/2021 21:59:25  18.900592  ...  0000007f  07ffffff
53  04/05/2021 21:59:27  18.900415  ...  000000ff  07ffffff
54  04/05/2021 21:59:28  18.900920  ...  000000ff  07ffffff

[5 rows x 40 columns]

Dealing with Fuel Rate (L-Hr)

In [ ]:
FRate = []

for i in dataset['Fuel Rate (L-Hr)']:
  if i != 0:
    FRate.append((int(i,16))*0.05)
  else:
    FRate.append(0)

In [ ]:
dd = []
for i in FRate:
  dd.append(float(i))

In [ ]:
FRate_featurescaled = []
FRateOldRange = (max(dd) - min(dd))  
FRateNewRange = (40 - 0)  
for i in dd:
  FRateNewValue = (((i - 0) * FRateNewRange) / FRateOldRange) + 0
  FRate_featurescaled.append(FRateNewValue)

In [ ]:
dataset.drop('Fuel Rate (L-Hr)',axis=1)
dataset['Fuel Rate (L-Hr)'] = (FRate_featurescaled)

In [ ]:
dataset.iloc[50:55]

                   Time   Latitude  ...    param1    param2
50  04/05/2021 21:59:24  18.900668  ...  000001ff  07ffffff
51  04/05/2021 21:59:25  18.900592  ...  000000ff  07ffffff
52  04/05/2021 21:59:25  18.900592  ...  0000007f  07ffffff
53  04/05/2021 21:59:27  18.900415  ...  000000ff  07ffffff
54  04/05/2021 21:59:28  18.900920  ...  000000ff  07ffffff

[5 rows x 40 columns]

Dealing with Vehicle Speed

In [ ]:
VSpeed = []

for i in dataset['Vehicle Speed ']:
  if i != 0:
    VSpeed.append((int(i,16))*0.01)
  else:
    VSpeed.append(0)

In [ ]:
dataset.drop('Vehicle Speed ',axis=1)
dataset['Vehicle Speed '] = (VSpeed)

In [ ]:
dataset.iloc[50:55]

                   Time   Latitude  ...    param1    param2
50  04/05/2021 21:59:24  18.900668  ...  000001ff  07ffffff
51  04/05/2021 21:59:25  18.900592  ...  000000ff  07ffffff
52  04/05/2021 21:59:25  18.900592  ...  0000007f  07ffffff
53  04/05/2021 21:59:27  18.900415  ...  000000ff  07ffffff
54  04/05/2021 21:59:28  18.900920  ...  000000ff  07ffffff

[5 rows x 40 columns]

Dealing with Inj Q Cur (mg-st)

In [ ]:
InjCur = []

for i in dataset['Inj Q Cur (mg-st)']:
  if i != 0:
    InjCur.append((int(i,16))*0.02)
  else:
    InjCur.append(0)

In [ ]:
dataset.drop('Inj Q Cur (mg-st)',axis=1)
dataset['Inj Q Cur (mg-st)'] = (InjCur)

In [ ]:
dataset.iloc[50:55]

                   Time   Latitude  ...    param1    param2
50  04/05/2021 21:59:24  18.900668  ...  000001ff  07ffffff
51  04/05/2021 21:59:25  18.900592  ...  000000ff  07ffffff
52  04/05/2021 21:59:25  18.900592  ...  0000007f  07ffffff
53  04/05/2021 21:59:27  18.900415  ...  000000ff  07ffffff
54  04/05/2021 21:59:28  18.900920  ...  000000ff  07ffffff

[5 rows x 40 columns]

Dealing with Inj Q Tor (mg-st)

In [ ]:
InjTor = []

for i in dataset['Inj Q Tor (mg-st)']:
  if i != 0:
    InjTor.append((int(i,16))*0.02)
  else:
    InjTor.append(0)

In [ ]:
dataset.drop('Inj Q Tor (mg-st)',axis=1)
dataset['Inj Q Tor (mg-st)'] = (InjTor)

In [ ]:
dataset.iloc[50:55]

                  Time  Latitude  ...    param1    param2
0  04/05/2021 29:29:45       0.0  ...  000000ff  07ffffff
1  04/05/2021 29:29:46       0.0  ...  000000ff  07ffffff
2  04/05/2021 29:29:47       0.0  ...  000000ff  07ffffff
3  04/05/2021 29:29:48       0.0  ...  000001ff  07ffffff
4  04/05/2021 29:29:49       0.0  ...  000000ff  07ffffff

[5 rows x 40 columns]

Dealing with Boost Pressure

In [ ]:
BPressure = []

for i in dataset['Boost Pressure (mBar)']:
  if i != 0:
    BPressure.append((int(i,16))*1.00)
  else:
    BPressure.append(0)

In [ ]:
dataset.drop('Boost Pressure (mBar)',axis=1)
dataset['Boost Pressure (mBar)'] = (BPressure)

In [ ]:
dataset.head()

                  Time  Latitude  ...    param1    param2
0  04/05/2021 29:29:45       0.0  ...  000000ff  07ffffff
1  04/05/2021 29:29:46       0.0  ...  000000ff  07ffffff
2  04/05/2021 29:29:47       0.0  ...  000000ff  07ffffff
3  04/05/2021 29:29:48       0.0  ...  000001ff  07ffffff
4  04/05/2021 29:29:49       0.0  ...  000000ff  07ffffff

[5 rows x 40 columns]

Dealing with Atmospheric Pressure

In [ ]:
AtmPressure = []

for i in dataset['Atmospheric Pressure (mBar)']:
  if i != 0:
    AtmPressure.append((int(i,16))*1.00)
  else:
    AtmPressure.append(0)

In [ ]:
dataset.drop('Atmospheric Pressure (mBar)',axis=1)
dataset['Atmospheric Pressure (mBar)'] = (AtmPressure)

In [ ]:
dataset.iloc[50:55]

                   Time   Latitude  ...    param1    param2
50  04/05/2021 21:59:24  18.900668  ...  000001ff  07ffffff
51  04/05/2021 21:59:25  18.900592  ...  000000ff  07ffffff
52  04/05/2021 21:59:25  18.900592  ...  0000007f  07ffffff
53  04/05/2021 21:59:27  18.900415  ...  000000ff  07ffffff
54  04/05/2021 21:59:28  18.900920  ...  000000ff  07ffffff

[5 rows x 40 columns]

Dealing with Coolant Temperature

In [ ]:
CTemp = []

for i in dataset['Coolant Temperature (*C)']:
  if i != 0:
    CTemp.append(((int(i,16))*0.10)+(-273))
  else:
    CTemp.append(0)

In [ ]:
dataset.drop('Coolant Temperature (*C)',axis=1)
dataset['Coolant Temperature (*C)'] = (CTemp)

In [ ]:
dataset.iloc[50:55]

                   Time   Latitude  ...    param1    param2
50  04/05/2021 21:59:24  18.900668  ...  000001ff  07ffffff
51  04/05/2021 21:59:25  18.900592  ...  000000ff  07ffffff
52  04/05/2021 21:59:25  18.900592  ...  0000007f  07ffffff
53  04/05/2021 21:59:27  18.900415  ...  000000ff  07ffffff
54  04/05/2021 21:59:28  18.900920  ...  000000ff  07ffffff

[5 rows x 40 columns]

Dealing with Oil Temperature

In [ ]:
OTemp = []

for i in dataset['Oil Temperature (*C)']:
  if i != 0:
    OTemp.append(((int(i,16))*0.10)+(-273))
  else:
    OTemp.append(0)

In [ ]:
dataset.drop('Oil Temperature (*C)',axis=1)
dataset['Oil Temperature (*C)'] = (OTemp)

In [ ]:
dataset.iloc[50:55]

                   Time   Latitude  ...    param1    param2
50  04/05/2021 21:59:24  18.900668  ...  000001ff  07ffffff
51  04/05/2021 21:59:25  18.900592  ...  000000ff  07ffffff
52  04/05/2021 21:59:25  18.900592  ...  0000007f  07ffffff
53  04/05/2021 21:59:27  18.900415  ...  000000ff  07ffffff
54  04/05/2021 21:59:28  18.900920  ...  000000ff  07ffffff

[5 rows x 40 columns]

Dealing with Boost Temperature

In [ ]:
BoostTemp = []

for i in dataset['Boost Temperature (*C)']:
  if i != 0:
    BoostTemp.append(((int(i,16))*0.10)+(-273))
  else:
    BoostTemp.append(0)

In [ ]:
dataset.drop('Boost Temperature (*C)',axis=1)
dataset['Boost Temperature (*C)'] = (BoostTemp)

In [ ]:
dataset.iloc[50:55]

                   Time   Latitude  ...    param1    param2
50  04/05/2021 21:59:24  18.900668  ...  000001ff  07ffffff
51  04/05/2021 21:59:25  18.900592  ...  000000ff  07ffffff
52  04/05/2021 21:59:25  18.900592  ...  0000007f  07ffffff
53  04/05/2021 21:59:27  18.900415  ...  000000ff  07ffffff
54  04/05/2021 21:59:28  18.900920  ...  000000ff  07ffffff

[5 rows x 40 columns]

Dealing with Oil Pressure

In [ ]:
OilPressure = []

for i in dataset['Oil Pressure (mBar)']:
  if 1 !=0:
    OilPressure.append(((int(i,16))*1.00)+(0))
  else:
    OilPressure.append(0)

In [ ]:
dataset.drop('Oil Pressure (mBar)',axis=1)
dataset['Oil Pressure (mBar)'] = (OilPressure)

In [ ]:
dataset.iloc[50:55]

                   Time   Latitude  ...    param1    param2
50  04/05/2021 21:59:24  18.900668  ...  000001ff  07ffffff
51  04/05/2021 21:59:25  18.900592  ...  000000ff  07ffffff
52  04/05/2021 21:59:25  18.900592  ...  0000007f  07ffffff
53  04/05/2021 21:59:27  18.900415  ...  000000ff  07ffffff
54  04/05/2021 21:59:28  18.900920  ...  000000ff  07ffffff

[5 rows x 40 columns]

Dealing with Battery Voltage

In [ ]:
BVoltage = []

for i in dataset['Battery Voltage (V)']:
  if i != 0:
    BVoltage.append(((int(i,16))*0.02)+(0))
  else:
    BVoltage.append(0)

In [ ]:
dataset.drop('Battery Voltage (V)',axis=1)
dataset['Battery Voltage (V)'] = (BVoltage)

In [ ]:
dataset.iloc[50:55]

                   Time   Latitude  ...    param1    param2
50  04/05/2021 21:59:24  18.900668  ...  000001ff  07ffffff
51  04/05/2021 21:59:25  18.900592  ...  000000ff  07ffffff
52  04/05/2021 21:59:25  18.900592  ...  0000007f  07ffffff
53  04/05/2021 21:59:27  18.900415  ...  000000ff  07ffffff
54  04/05/2021 21:59:28  18.900920  ...  000000ff  07ffffff

[5 rows x 40 columns]

Dealing with Cam Speed

In [ ]:
CamSpeed = []

for i in dataset['Cam Speed (rpm)']:
  if i != 0:
    CamSpeed.append(((int(i,16))*0.50)+(0))
  else:
    CamSpeed.append(0)

In [ ]:
dataset.drop('Cam Speed (rpm)',axis=1)
dataset['Cam Speed (rpm)'] = (CamSpeed)

In [ ]:
dataset.iloc[50:55]

                   Time   Latitude  ...    param1    param2
50  04/05/2021 21:59:24  18.900668  ...  000001ff  07ffffff
51  04/05/2021 21:59:25  18.900592  ...  000000ff  07ffffff
52  04/05/2021 21:59:25  18.900592  ...  0000007f  07ffffff
53  04/05/2021 21:59:27  18.900415  ...  000000ff  07ffffff
54  04/05/2021 21:59:28  18.900920  ...  000000ff  07ffffff

[5 rows x 40 columns]

Dealing with Rail Pressure

In [ ]:
RailPressure = []

for i in dataset['Rail Pressure (mBar)']:
  if i != 0:
    RailPressure.append(((int(i,16))*100)+(0))
  else:
    RailPressure.append(0)

In [ ]:
dataset.drop('Rail Pressure (mBar)',axis=1)
dataset['Rail Pressure (mBar)'] = (RailPressure)

In [ ]:
dataset.iloc[50:55]

                   Time   Latitude  ...    param1    param2
50  04/05/2021 21:59:24  18.900668  ...  000001ff  07ffffff
51  04/05/2021 21:59:25  18.900592  ...  000000ff  07ffffff
52  04/05/2021 21:59:25  18.900592  ...  0000007f  07ffffff
53  04/05/2021 21:59:27  18.900415  ...  000000ff  07ffffff
54  04/05/2021 21:59:28  18.900920  ...  000000ff  07ffffff

[5 rows x 40 columns]

Dealing with Rail Pressure Set

In [ ]:
RailPressureSet = []

for i in dataset['Rail Pressure set (mBar)']:
  if i != 0:
    RailPressureSet.append(((int(i,16))*100)+(0))
  else:
    RailPressure.append(0)

In [ ]:
dataset.drop('Rail Pressure set (mBar)',axis=1)
dataset['Rail Pressure set (mBar)'] = (RailPressureSet)

In [ ]:
dataset.iloc[50:55]

                   Time   Latitude  ...    param1    param2
50  04/05/2021 21:59:24  18.900668  ...  000001ff  07ffffff
51  04/05/2021 21:59:25  18.900592  ...  000000ff  07ffffff
52  04/05/2021 21:59:25  18.900592  ...  0000007f  07ffffff
53  04/05/2021 21:59:27  18.900415  ...  000000ff  07ffffff
54  04/05/2021 21:59:28  18.900920  ...  000000ff  07ffffff

[5 rows x 40 columns]

Dealing with MU Vol %

In [ ]:
MUPWM = []

for i in dataset['MU PWM (%)']:
  if i != 0:
    MUPWM.append(((int(i,16))*0.01)+(0))
  else:
    MUPWM.append(0)

In [ ]:
dataset.drop('MU PWM (%)',axis=1)
dataset['MU PWM (%)'] = (MUPWM)

In [ ]:
dataset.iloc[50:55]

                   Time   Latitude  ...    param1    param2
50  04/05/2021 21:59:24  18.900668  ...  000001ff  07ffffff
51  04/05/2021 21:59:25  18.900592  ...  000000ff  07ffffff
52  04/05/2021 21:59:25  18.900592  ...  0000007f  07ffffff
53  04/05/2021 21:59:27  18.900415  ...  000000ff  07ffffff
54  04/05/2021 21:59:28  18.900920  ...  000000ff  07ffffff

[5 rows x 40 columns]

Dealing with MU Vol (mm3-s)

In [ ]:
MUVol = []

for i in dataset['MU Vol (mm3-s)']:
  if i != 0:
    MUVol.append(((int(i,16))*10)+(0))
  else:
    MUVol.append(0)

In [ ]:
dataset.drop('MU Vol (mm3-s)',axis=1)
dataset['MU Vol (mm3-s)'] = (MUVol)

In [ ]:
dataset.iloc[50:55]

                   Time   Latitude  ...    param1    param2
50  04/05/2021 21:59:24  18.900668  ...  000001ff  07ffffff
51  04/05/2021 21:59:25  18.900592  ...  000000ff  07ffffff
52  04/05/2021 21:59:25  18.900592  ...  0000007f  07ffffff
53  04/05/2021 21:59:27  18.900415  ...  000000ff  07ffffff
54  04/05/2021 21:59:28  18.900920  ...  000000ff  07ffffff

[5 rows x 40 columns]

Dealing with Torque Rat

In [ ]:
TorqueRat = []

for i in dataset['Torque Rat']:
  if i != 0:
    TorqueRat.append(((int(i,16))*0.01)+(0))
  else:
    TorqueRat.append(0)

In [ ]:
dataset.drop('Torque Rat',axis=1)
dataset['Torque Rat'] = (TorqueRat)

In [ ]:
dataset.iloc[50:55]

                   Time   Latitude  ...    param1    param2
50  04/05/2021 21:59:24  18.900668  ...  000001ff  07ffffff
51  04/05/2021 21:59:25  18.900592  ...  000000ff  07ffffff
52  04/05/2021 21:59:25  18.900592  ...  0000007f  07ffffff
53  04/05/2021 21:59:27  18.900415  ...  000000ff  07ffffff
54  04/05/2021 21:59:28  18.900920  ...  000000ff  07ffffff

[5 rows x 40 columns]

Dealing with Torque

In [ ]:
Torque = []

for i in dataset['Torque (Nm)']:
  if i != 0:
    Torque.append(((int(i,16))*0.10)+(0))
  else:
    Torque.append(0)

In [ ]:
dataset.drop('Torque (Nm)',axis=1)
dataset['Torque (Nm)'] = (Torque)

In [ ]:
dataset.iloc[50:55]

                   Time   Latitude  ...    param1    param2
50  04/05/2021 21:59:24  18.900668  ...  000001ff  07ffffff
51  04/05/2021 21:59:25  18.900592  ...  000000ff  07ffffff
52  04/05/2021 21:59:25  18.900592  ...  0000007f  07ffffff
53  04/05/2021 21:59:27  18.900415  ...  000000ff  07ffffff
54  04/05/2021 21:59:28  18.900920  ...  000000ff  07ffffff

[5 rows x 40 columns]

Dealing with TQ Limit Set

In [ ]:
TQLimit = []

for i in dataset['TQ Limit Set']:
  if i != 0:
    TQLimit.append(((int(i,16))*0.10)+(0))
  else:
    TQLimit.append(0)

In [ ]:
dataset.drop('TQ Limit Set',axis=1)
dataset['TQ Limit Set'] = (TQLimit)

In [ ]:
dataset.head()

                  Time  Latitude  ...    param1    param2
0  04/05/2021 29:29:45       0.0  ...  000000ff  07ffffff
1  04/05/2021 29:29:46       0.0  ...  000000ff  07ffffff
2  04/05/2021 29:29:47       0.0  ...  000000ff  07ffffff
3  04/05/2021 29:29:48       0.0  ...  000001ff  07ffffff
4  04/05/2021 29:29:49       0.0  ...  000000ff  07ffffff

[5 rows x 40 columns]

Dealing with Main Injection (mg-st)

In [ ]:
MInjection = []

for i in dataset['Main Injection (mg-st)']:
  if i != 0:
    MInjection.append(((int(i,16))*0.02)+(0))
  else:
    MInjection.append(0)

In [ ]:
dataset.drop('Main Injection (mg-st)',axis=1)
dataset['Main Injection (mg-st)'] = (MInjection)

In [ ]:
dataset.head()

                  Time  Latitude  ...    param1    param2
0  04/05/2021 29:29:45       0.0  ...  000000ff  07ffffff
1  04/05/2021 29:29:46       0.0  ...  000000ff  07ffffff
2  04/05/2021 29:29:47       0.0  ...  000000ff  07ffffff
3  04/05/2021 29:29:48       0.0  ...  000001ff  07ffffff
4  04/05/2021 29:29:49       0.0  ...  000000ff  07ffffff

[5 rows x 40 columns]

Dealing with Pilot Injection (mg-st)

In [ ]:
PInjection = []

for i in dataset['Pilot Injection (mg-st)']:
  if i != 0:
    PInjection.append(((int(i))*0.02)+(0))
  else:
    PInjection.append(0)

In [ ]:
dataset.drop('Pilot Injection (mg-st)',axis=1)
dataset['Pilot Injection (mg-st)'] = (PInjection)

In [ ]:
dataset.head()

     Time Latitude Longitude  ... Engine Grad (rpm)    param1    param2
0  235945        0         0  ...              001e  000000ff  07ffffff
1  235946        0         0  ...              ffa7  000000ff  07ffffff
2  235947        0         0  ...              02de  000000ff  07ffffff
3  235948        0         0  ...              ffc2  000001ff  07ffffff
4  235949        0         0  ...              ffdf  000000ff  07ffffff

[5 rows x 40 columns]

Dealing with EGR Prop (%)

In [ ]:
EGRProp = []

for i in dataset['EGR Prop (%)']:
  if i != 0:
    EGRProp.append(((int(i,16))*0.01)+(0))
  else:
    EGRProp.append(0)

In [ ]:
dataset.drop('EGR Prop (%)',axis=1)
dataset['EGR Prop (%)'] = (EGRProp)

In [ ]:
dataset.head()

                  Time  Latitude  ...    param1    param2
0  04/05/2021 29:29:45       0.0  ...  000000ff  07ffffff
1  04/05/2021 29:29:46       0.0  ...  000000ff  07ffffff
2  04/05/2021 29:29:47       0.0  ...  000000ff  07ffffff
3  04/05/2021 29:29:48       0.0  ...  000001ff  07ffffff
4  04/05/2021 29:29:49       0.0  ...  000000ff  07ffffff

[5 rows x 40 columns]

Dealing with EGR Pos D (%)

In [ ]:
EGRPosD = []

for i in dataset['EGR Pos D (%)']:
  if i != 0:
    EGRPosD.append(((int(i,16))*0.01)+(0))
  else:
    EGRPosD.append(0)

In [ ]:
dataset.drop('EGR Pos D (%)',axis=1)
dataset['EGR Pos D (%)'] = (EGRPosD)

In [ ]:
dataset.head()

                  Time  Latitude  ...    param1    param2
0  04/05/2021 29:29:45       0.0  ...  000000ff  07ffffff
1  04/05/2021 29:29:46       0.0  ...  000000ff  07ffffff
2  04/05/2021 29:29:47       0.0  ...  000000ff  07ffffff
3  04/05/2021 29:29:48       0.0  ...  000001ff  07ffffff
4  04/05/2021 29:29:49       0.0  ...  000000ff  07ffffff

[5 rows x 40 columns]

Dealing with EGR Pos A (%)

In [ ]:
EGRPosA = []

for i in dataset['EGR Pos A (%)']:
  if i != 0:
    EGRPosA.append(((int(i,16))*0.01)+(0))
  else:
    EGRPosA.append(0)

In [ ]:
dataset.drop('EGR Pos A (%)',axis=1)
dataset['EGR Pos A (%)'] = (EGRPosA)

In [ ]:
dataset.head()

                  Time  Latitude  ...    param1    param2
0  04/05/2021 29:29:45       0.0  ...  000000ff  07ffffff
1  04/05/2021 29:29:46       0.0  ...  000000ff  07ffffff
2  04/05/2021 29:29:47       0.0  ...  000000ff  07ffffff
3  04/05/2021 29:29:48       0.0  ...  000001ff  07ffffff
4  04/05/2021 29:29:49       0.0  ...  000000ff  07ffffff

[5 rows x 40 columns]

Dealing with Engine Grad (rpm)

In [ ]:
EngineGrad = []

for i in dataset['Engine Grad (rpm)']:
  if i != 0:
    EngineGrad.append(((int(i,16))*0.50)+(0))
  else:
    EngineGrad.append(0)

In [ ]:
dataset.drop('Engine Grad (rpm)',axis=1)
dataset['Engine Grad (rpm)'] = (EngineGrad)

In [ ]:
dataset.head()

                  Time  Latitude  ...    param1    param2
0  04/05/2021 29:29:45       0.0  ...  000000ff  07ffffff
1  04/05/2021 29:29:46       0.0  ...  000000ff  07ffffff
2  04/05/2021 29:29:47       0.0  ...  000000ff  07ffffff
3  04/05/2021 29:29:48       0.0  ...  000001ff  07ffffff
4  04/05/2021 29:29:49       0.0  ...  000000ff  07ffffff

[5 rows x 40 columns]

################################################################################